/*LOGOS*/
.logo_red_soc {
    height: 35px;
    width: 35px;
}
.logo_red_soc.fb {
    height: 42px;
    width: 42px;
}

.logo-cvac {
    height: 60px;
    width: 90px;
    display: grid;
    align-items: center;
}