/* Variables de estilo*/
$paddingvar: 5px 7px 5px 7px;
$fuente: "Carlito", sans-serif;
$sombreado: 0 0 10px rgb(0, 0, 0);

/* Variables de color*/
$color-negro: #000000;
$color-blanco: #ffffff;
$color-azul: #0077ff;

/*mixins*/
@mixin container-h1 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1.8rem;
  
}

@mixin align-justify {
  align-items: center;
  justify-content: center;
}

@mixin body {
  min-height: 100vh;
  display: grid;
  flex-direction: column;
  background-color: $color-blanco;
  text-align: center;
  font-family: $fuente;
  padding: $paddingvar;
  overflow-y: scroll;
  border-color: $color-negro;
}
