@import "variables";
@import "header";
@import "generales";
@import "logos";

@media screen and (max-width: 400px) {
  #nav-list li {
    font-size: 2.5rem;
  }
  .container {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 3.5rem;
    }
  }

  .contenedor {
    p {
      font-size: 2.5rem;
    }
  }

  h3 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.5rem;
  }
  h6 {
    font-size: 2rem;
  }

  img.logo-cvac {
    width: 250px;
    height: 150px;
  }
  img.img-fluid {
    width: 700px;
    height: 800px;
  }
  img.img-fluid-banner {
    width: 100%;
  }
  img.img-fluid-candy {
    width: 100%;
    height: 700px;
  }
  img.logo_red_soc {
    width: 60px;
    height: 60px;
  }
  iframe.embed-responsive-item {
    width: 900px;
    height: 500px;
  }

  input.form-control {
    width: 100%;
    height: 100px;
    font-size: 2.5rem;
  }
  input.btn {
    width: 400px;
    height: 100px;
    font-size: 2rem;
  }
  div.text-center {
    font-size: 2.5rem;
  }
  .contenedor_candy {
    width: 100%;
  }
}
